
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Rent a cool car</h1>
        <p>Get a car near you in a reasonable price</p>


      <%= form_tag :controller => 'cars', :action => 'search', url: cars_search_path do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field', placeholder: 'Enter city or address', size: 50, class: 'form-control' %>
      <br/>
      <%= submit_tag "Find Cars", :name => nil, class: "btn btn-primary" %> 
      <% end %>
      
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <% @cars.each_with_index do |car, index|; %>
          <div class="col-md-4">
            <h2><%= "#{car.brand.name} #{car.model} " %><small><%= "#{car.year}" %></small></h2>
            <% if car.pictures[0].nil? %>
              <%= image_tag "defaultCar2.png" %>
            <% else %>
              <%= image_tag car.pictures[0].image.url(:medium) %>
            <% end %>
            <h4><%= "$#{car.price}/day" %> </h4>
            <h4><%= car.location %> </h4>
            <p><%= car.remarks %> </p>
            <%= link_to 'Details', car, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>

    </div> <!-- /container -->
