<h1></h1>
<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:car_id) %></th>
      <th><%= model_class.human_attribute_name(:Photo) %></th>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>      
      <th><%= model_class.human_attribute_name(:mileage) %></th>      
      
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>        
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= link_to( image_tag(car.avatar.url(:thumb)), car, class: 'list_image') %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.price %></td>
        <td><%= car.location %></td>
        <td><%= car.mileage %></td>        
        <td><%= car.remarks %></td>
        <td>
          <%= link_to t('.Lease', :default => t("helpers.links.lease")),
                      car_items_path(car_id: car), method: :post, :class => 'btn btn-mini' %>
                 
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
