<%= render partial: "edit_menu", locals: {active: 'Pictures'} %>

<%= form_for @car do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :color, :class => 'control-label' %>
    <%= f.text_field :color, :class => 'form-control' %>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cars_path, :class => 'btn btn-default' %>

<% end %>
