<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %><small><%= " #{@car.brand.name} #{@car.model}" %></small></h1>
</div>

<ul class="nav nav-pills">
  <li><%= link_to 'Basic', edit_car_path(@car) %></li>   
  <li><%= link_to 'Location', edit_location_car_path(@car) %></li>
  <li class="active"><%= link_to 'Pictures', edit_pictures_car_path(@car) %></li>
  <li><%= link_to 'Calendar', edit_calendar_car_path(@car) %></li>
</ul>

<%= form_for @car do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="list-group">   
   <%= f.fields_for :pictures do |builder| %>
      <div class = "list-group-item-heading">
        <%= builder.label :title, class: 'control-label' %>
        <%= builder.text_field :title, class: 'form-control', placeholder: '照片描述' %>
      </div>
      <div class = "list-group-item-text">
          <td>  <%= image_tag @car.pictures[builder.index].image.url(:medium) if !@car.pictures[builder.index].title.empty? %> </td>
      </div>        
      <div class = "list-group-item-text">
        <%= builder.label :image %>
        <%= builder.file_field :image %><br>
      </div> 
   <% end %>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cars_path, :class => 'btn btn-default' %>

<% end %>
