<h1>車輛列表</h1>
<table>
<% @cars.each do |car| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= link_to( image_tag(car.avatar.url(:thumb)), car, class: 'list_image') %>
    </td>
     
    <td class="list_description">
      <dl>
        <dt><%= link_to car.brand.name, car %></dt>
        <dd>Car Brand: <%= car.brand.name %></dd>
        <dd>Car Model: <%= car.model %></dd>
        <dd>Available Period: <%= car.rentaldates %></dd>
        <dd>Rental Price: <%= car.price %></dd>
        <dd>Parked At: <%= car.location %></dd>
        <dd>Description: <%= truncate(strip_tags(car.remarks), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_car_path(car) %><br/>
      <%= link_to 'Destroy', car, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New car', new_car_path %>
