<h1>Listing cars</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Year</th>
      <th>Rentaldates</th>
      <th>Price</th>
      <th>Location</th>
      <th>Auto transmission</th>
      <th>Mileage</th>
      <th>Color</th>
      <th>Image url</th>
      <th>Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= image_tag car.avatar.url(:thumb) %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.rentaldates %></td>
        <td><%= car.price %></td>
        <td><%= car.location %></td>
        <td><%= car.auto_transmission %></td>
        <td><%= car.mileage %></td>
        <td><%= car.color %></td>
        <td><%= car.image_url %></td>
        <td><%= car.remarks %></td>
        <td><%= link_to car.brand, car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
