<%= form_for(@car_item) do |f| %>
  <% if @car_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_item.errors.count, "error") %> prohibited this car_item from being saved:</h2>

      <ul>
      <% @car_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.text_field :car_id %>
  </div>
  <div class="field">
    <%= f.label :lease_id %><br>
    <%= f.text_field :lease_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
