<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @car_item.car %>
</p>

<p>
  <strong>Lease:</strong>
  <%= @car_item.lease %>
</p>

<%= link_to 'Edit', edit_car_item_path(@car_item) %> |
<%= link_to 'Back', car_items_path %>
