<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @review.car_id %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @review.ratings %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
